/* 全局样式 */
body {
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
  }
  
  .logo {
    max-width: 120px;
  }
  
  .main-links {
    text-align: center;
    margin-top: 30px;
  }
  
  .main-links a {
    text-decoration: none;
    font-size: 18px;
    color: #007BFF;
  }
  
  /* 响应式 */
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  }
  